body 
  {
    margin: 0;
  }
  
  header 
  {
    background-color: #8FBC8F;
    padding: 10px;
    height: 100px;
  }

  .menu 
  {
    position: absolute;
    top: 0;
    right: 0;
  }
  .menu a {
    margin-right: 10px;
  }
  
  .name {
    background-color: #8FBC8F;
    padding: 10px;
  }
  
  .telo {
    max-width: 800px;
    background-color: #99FF99;
    margin: 0 auto;
    margin-top: 0px;
    padding: 10px;
  }
  
  footer {
    background-color: #ccc;
    height: 30px;
    padding: 15px;
    text-align: left;
  }
  
  th, td {
    padding: 5px;
    text-align: center;
  }
  
  th {
      font-size: 15px;
      text-align: center;
      background-color: #A9A9A9;
      color: #000000;
    }
  
  tr:nth-child(even) {
    font-size: 16px;
    text-align: center;
    background-color: #ae9afa;
    color: #000000;
  }
  
  tr:nth-child(odd) {
    font-size: 16px;
    text-align: center;
    background-color: #c5b5ff;
    color: #000000;
  }
